---
---

@import "{{ site.theme }}";

.page-header {
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #a7abc7;
/*    background-image: linear-gradient(120deg, #697888, #8196b5);*/
    background-image: url("../images/bg.jpg") ;
    background-repeat: repeat,	no-repeat,	no-repeat;
    background-size: 100px 100px,	cover,	cover;
    background-position: top left,	center center,	bottom center;
    background-attachment: fixed,	fixed,	fixed;
}

}

h1 {
    font-size: 24px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}
